/* 먼저 문서 전체에 적용되는 스타일을 지정할게요.  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* id 요소를 정의시에는 #id명으로 선언합니다. 페이지에 1개 */
#container {
  width: 480px;
  /* 마진 추가 */
  margin: 40px auto;
}

h1 {
  font-size: 2em;
  margin: 10px;
}

fieldset {
  padding: 15px;
}

fieldset legend {
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px;
}

#product intput [type="number"] {
  width: 30px;
  margin-left: 10px;
}

#shipping li label {
  width: 80px;
  float: left;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 300px;
}
